[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pdsp-pythonic = {editable = true,path = "."}
pycodestyle = "*"

[packages]

[requires]
python_version = "3.7"
